<!doctype html>
<html lang="en">
 
<head>
    <title>Add Question - Discrete Option Multiple Choice</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
</head>
 
<body>
    <div class="push-footer">
        <section id="banner">
            <h1>Add Question</h1>
        </section>
        <div>
            <label for="inpQuestion">Question:</label>
            <input type="text" id="inpQuestion" name="inpQuestion"><br><br>
            <label for="inpQType">Question Type:</label>
            <input type="radio" name="inpQType" id="inpQType[MC]" value="MC"/><label for="inpQType[MC]">Multiple Choice</label>
            <input type="radio" name="inpQType" id="inpQType[TF]" value="TF"/><label for="inpQType[TF]">True or False</label>
            <div id="ansAreaTF">
                <label for="inpAnswer">Correct Answer:</label>
                <input type="radio" name="inpAnswer" id="inpAnswer[true]" value="true"/><label for="inpAnswer[true]">True</label>
                <input type="radio" name="inpAnswer" id="inpAnswer[false]" value="false"/><label for="inpAnswer[false]">False</label>
            </div>
            <div id="ansAreaMC">
                <table>
                    <thead>
                        <tr>
                            <td>Answer Option</td>
                            <td>Correct Answer?</td>
                            <td>Remove Option</td>
                        </tr>       
                    </thead>
                    <tbody id="options">
                    </tbody>
                </table>
                <button class="button special" id="btnAddOption" onClick="addOption();">+</button>
            </div>
            <input id="btnAddQuestion" type="submit" value="Submit Question" onClick="submitQuestion();"/>
        </div>
    </div>
    <footer id="footer">
        <div class="copyright">
            Created by Samuel Natalius. &copy; 2020. CSS Design by <a href="http://templated.co/">TEMPLATED</a>.
        </div>
    </footer>
    <script src="/js/add-question.js"></script>
</body>

</html>