<!doctype html>
<html lang="en">
 
<head>
    <title>Main Page - Discrete Option Multiple Choice</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
</head>
 
<body>
    <div class="push-footer">
        <section id="banner">
            <h2>Discrete Option Multiple Choice (DOMC) Exam Simulation</h2>
        </section>
        <section id="option" class="wrapper special flexible">
            <form action="/c/startGame" method="POST">
                <label for="inpName">Your Name</label><input id="inpName" name="inpName" type="text" placeholder="Insert your name"></input>
                <label for="inpNumQuestions"># of questions</label><input id="inpNumQuestions" name="inpNumQuestions" type="number" value="3" min="1" max="<%= totalNumQuestion %>"></input>
                <button id="btnStartGame" class="button special">Start Game</button>
            </form>
        </section>
    </div>
    <footer id="footer">
        <div class="copyright">
            Created by Samuel Natalius. &copy; 2020. CSS Design by <a href="http://templated.co/">TEMPLATED</a>.
        </div>
    </footer>
</body>

</html>