<!doctype html>
<html lang="en">
 
<head>
    <title>Results - Discrete Option Multiple Choice</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
</head>
 
<body>
    <div class="push-footer">
        <section id="banner">
            <h1>Results</h1>
        </section>
        <div id="stats">
        </div>
        <div id="details">
            <table>
                <thead>
                    <tr>
                        <td>Question</td>
                        <td>Option</td>
                        <td>Expected Answer</td>
                        <td>Your Answer</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <a href="/">Back to homepage</a>
    </div>
    <footer id="footer">
        <div class="copyright">
            Created by Samuel Natalius. &copy; 2020. CSS Design by <a href="http://templated.co/">TEMPLATED</a>.
        </div>
    </footer>
    <script type="text/javascript">const gameId = "<%= gameId %>";</script>
    <script src="/js/result-room.js"></script>
</body>

</html>